venv
node_modules
.DS_STORE
__pycache__

# Keep __init__.py by not built app
custom_components
!custom_components/__init__.py

# Files genenerated by dash build
_auto_generated_*
.Rbuildignore
DESCRIPTION
NAMESPACE
Project.toml
R
*.jl
deps
inst